# Multi-Index and indexHierarchy

In [4]:
import numpy as np
import pandas as pd

In [16]:
#index level
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.741461  0.095812
   2  0.878145  0.015270
   3  2.392041 -0.063474
G2 1 -1.511328 -0.352297
   2  1.416595  1.083900
   3  0.612649 -0.343376

In [17]:
df.loc["G1"]

          A         B
1 -0.741461  0.095812
2  0.878145  0.015270
3  2.392041 -0.063474

In [18]:
df.loc["G2"]

          A         B
1 -1.511328 -0.352297
2  1.416595  1.083900
3  0.612649 -0.343376

In [19]:
df.loc["G1"].loc[1]

A   -0.741461
B    0.095812
Name: 1, dtype: float64

In [20]:
df

             A         B
G1 1 -0.741461  0.095812
   2  0.878145  0.015270
   3  2.392041 -0.063474
G2 1 -1.511328 -0.352297
   2  1.416595  1.083900
   3  0.612649 -0.343376

In [21]:
df.index.names

FrozenList([None, None])

In [22]:
df.index.names=['Group','Num']

In [23]:
df

                  A         B
Group Num
G1    1   -0.741461  0.095812
      2    0.878145  0.015270
      3    2.392041 -0.063474
G2    1   -1.511328 -0.352297
      2    1.416595  1.083900
      3    0.612649 -0.343376

In [24]:
df.index.names

FrozenList(['Group', 'Num'])

In [25]:
# df.loc['G1']と同じ
df.xs('G1')

            A         B
Num
1   -0.741461  0.095812
2    0.878145  0.015270
3    2.392041 -0.063474

In [26]:
# df.loc['G1'].loc[1]と同じ
df.xs(['G1',1])

A   -0.741461
B    0.095812
Name: (G1, 1), dtype: float64

In [27]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.741461  0.095812
G2    -1.511328 -0.352297